<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <title>报表</title>
    <link th:include="common :: css" th:remove="tag" />
    <link rel="stylesheet" th:href="@{/css/daterangepicker/daterangepicker.css}"/>
    <link rel="stylesheet" th:href="@{/css/datatables/dataTables.bootstrap.min.css}"/>
	<style>
        .control-group .controls label {
            display: inline-block;
        }
        table td{
            /*word-break: keep-all;*/
            white-space: nowrap;
        }
        table tr{
            height: 30px;
        }
        .form-group label{font-size:14px; width:100px; float:left; padding-top:6px}
        #tablesType label{width:150px; float:left; padding-left:10px}
        #checkBox{font-size:16px; padding-top:6px}
        #checkBoxFont{font-size:16px; padding-top:6px}
        
    </style>

</head>
<body>
<div class="container-fluid">
	<div class="panel panel-default" id="conditions" style="margin-bottom:10px">
		<div class="panel-heading nav-header collapsed" style="padding:6px 15px; background-color: #74B3FF; color: #FFFFFF; font-weight: bold; font-size:16px">
			查询条件<span th:text=" '( 报表名称：' + ${response.parameterDetail.parametername} + ' )' "></span>
		</div>
	    <div class="panel-body" id="collapseOne" style="padding: 5px">
		    <div class="form-inline" id="moveOut">
		    	
		    </div>
	    </div>
    </div>
	<div class="panel panel-default" style="margin-bottom:10px">
		<div class="panel-heading" style="padding:3px 15px; background-color:#74B3FF; color:#FFFFFF; font-weight:bold; font-size:16px">
			图表类型
			<span class="accordion-toggle" data-toggle="collapse" href="#collapseTwo" onclick="changeText2();">
				<i id="angleUp2" class="fa fa-angle-up"  style="padding-left:45%; font-size:24px; display:none"></i>
				<i id="angleDown2" class="fa fa-angle-down" style="padding-left:45%; font-size:24px;"></i>
			</span>
		</div>
	    <div class="panel-body collapse in" id="collapseTwo" style="padding:5px">
		    <div class="form-inline">
		    	<div class="form-group col-sm-12">
					<div class="col-sm-3">
						<label for="reportType">图表类型:</label>
			            <select id="reportType" class="form-control" style="width:30%" onchange="typeChoose(this.value);">
			                <option value="0" th:selected="${response.parameterDetail.reporttype == 0}">请选择</option>
			                <option value="1" th:selected="${response.parameterDetail.reporttype == 1}">折线图</option>
			                <option value="2" th:selected="${response.parameterDetail.reporttype == 2}">饼图</option>
			            </select>					
					</div>		
					<div class="form-group col-sm-9" id="lineChart" style="display:none">
						<div class="col-sm-6">
		    	        	<label  for="xField">X轴字段:</label>
						    <select  id="xField" name="xField" class="form-control select2" style="width:30%">
		
		                    </select>
		                    <select id="order" class="form-control" style="width:30%">
				                <option value="0">不排序</option>
				                <option value="1">正序</option>
				                <option value="3">倒序</option>
				            </select>
	    	        	</div>
						<div class="col-sm-6">
		    	        	<label  for="yField">Y轴字段:</label>
		    	        	<select  id="yField" name="yField" class="form-control select2" multiple="multiple" style="width:50%">
		
		                    </select>
	    	        	</div>
		    		</div>				
					<div class="form-group col-sm-9" id="pieChart" style="display:none">
						<div class="col-sm-6">
		    	        	<label  for="dataField">数据字段:</label>
		    	        	<select  id="dataField" name="dataField" class="form-control select2" style="width:30%">
	
	                    	</select>
	    	        	</div>
						<div class="col-sm-6">
		    	        	<label  for="dimensionField">维度字段:</label>
		    	        	<select  id="dimensionField" name="dimensionField" class="form-control select2" style="width:30%">
	
	                    	</select>
	    	        	</div>
		    		</div>				
			    </div>
	        </div>
	    </div>
    </div>
	<div class="panel panel-default" id="queryDimension" style="margin-bottom:10px">
		<div class="panel-heading" style="padding:3px 15px; background-color: #74B3FF; color: #FFFFFF; font-weight: bold; font-size:16px">
			查询维度
			<span class="accordion-toggle" data-toggle="collapse" href="#collapseThree" onclick="changeText3();">
				<i id="angleUp3" class="fa fa-angle-up"  style="padding-left:45%; font-size:24px; display:none"></i>
				<i id="angleDown3" class="fa fa-angle-down" style="padding-left:45%; font-size:24px;"></i>
			</span>
		</div>
	
	    <div class="panel-body collapse in" id="collapseThree"  style="padding:5px">
	        <div id="tablesType"> </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
            <div class="panel-heading">
                <button id="runBtn" class="btn btn-primary" autocomplete="off" data-loading-text="执行中...." onclick="runhql(this);"><i class="fa fa-search"></i>&nbsp;&nbsp;运行</button>
<!--                 <button id="downloadBtn" class="btn btn-success" onclick="downloadData();" style="margin-left:20px"><i class="fa fa-download"></i>&nbsp;&nbsp;导出</button> -->
                <button id="downloadBtn2" class="btn btn-success" onclick="downloadDataFromBdqe();" style="margin-left:20px"><i class="fa fa-download"></i>&nbsp;&nbsp;导出</button>
                <button id="killBtn" class="btn btn-danger" onclick="killTask();" style="margin-left:20px"><i class="fa fa-remove"></i>&nbsp;&nbsp;终止</button>
            	
            	<button id="closeBtn" class="btn btn-danger"  onclick="closeSelf()" style="margin-left:20px">
					<i class="fa fa-backward"></i>&nbsp;&nbsp;返回
				</button>
            </div>
            <div class="panel-body" style="padding:5px">
                <div id="resultDiv" >
                    <ul class="nav nav-tabs" id="liTab">
                        <li class="active"><a id="t1" data-toggle="tab" href="#tab1">运行结果</a></li>
                        <li><a id="t3" data-toggle="tab" href="#tab3">图表展示</a></li>
                        <li><a id="tn" data-toggle="tab" href="#tabn">日志</a></li>
                    </ul>
                    <div id="tabs" class="tab-content" style="padding-top:10px">
                        <div id="tab1" class="tab-pane active">
                        	<div id="tableResult" style="padding-top:15px">
                        	
                        	</div>
                        </div>
                        <div id="tabn" class="tab-pane">
                            <p id="log"></p>
                        </div>
                        <div id="tab3" class="tab-pane" style="overflow-y:auto; overflow-x:auto">
                        	<div id="iconDisplay1" class="collapse in"><i class="fa fa-remove pull-right accordion-toggle" data-toggle="collapse" href="#iconDisplay1"></i>
                        		<div id="queryCondition1"></div>
                            	<div id="echarts1" style="width:100%;height:700px;"></div>
                        	</div>
                        </div>
                    </div>
                </div>
            </div>
        	</div>
    	</div>
    </div>
</div>

<script th:include="common :: js" th:remove="tag"></script>
<!-- <script type="text/javascript" src="http://test.kbdqe.haiziwang.com:8080/k-bdqe-web/js/downloadRenameTitle.js" charset="UTF-8"></script> -->
<script type="text/javascript" src="http://kbdqeneibu.haiziwang.com/k-bdqe-web/js/downloadRenameTitle.js" charset="UTF-8"></script>
<script th:src="@{/js/reportParameter/reportParameter.js}"></script>
<script th:src="@{/js/daterangepicker/moment.min.js}"></script>
<script th:src="@{/js/daterangepicker/jquery.daterangepicker.js}"></script>
<script th:src="@{/js/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/js/datatables/dataTables.bootstrap.min.js}"></script>
<script th:src="@{/js/Base64.js}"></script>
<script th:src="@{/js/echarts/echarts.min.js}"></script>
<script th:src="@{/js/echarts/dark.js}"></script>
<script th:src="@{/js/md5.min.js}"></script>
<script th:src="@{/js/nicescroll/jquery.nicescroll.min.js}"></script>

<script type="text/javascript" th:inline="javascript">
    /* <![CDATA[ */
                 
    var base_url = /*[[@{/}]]*/'base_url';
    var parameterId = /*[[${parameterId}]]*/'parameterId';
    var parameterName = /*[[${response.parameterDetail.parametername}]]*/'parametername';
    var allDiensionList = /*[[${allDiensionResponse.allDiensionList}]]*/'allDiensionList';
    allDiensionListString = JSON.stringify(allDiensionList);
    allDiensionListJson = eval("(" + allDiensionListString + ")");
    
    function closeSelf() {
        parent.layer.close(parent.layer.getFrameIndex(window.name));
    }
    
    var locationUrl = window.location.toString();
    if(locationUrl.indexOf("getParameterReportNew") == -1){ //不包含，隐藏关闭按钮
    	$("#closeBtn").hide();
    }
    
    var title;
    var firstFlag = true;
    $('#downloadBtn').attr("disabled", true);
    $('#downloadBtn2').attr("disabled", true);
    $('#killBtn').attr("disabled", true);
    
    var flag2 = true;
    function changeText2(){
    	if(flag2){
    		$('#angleUp2').show();
        	$('#angleDown2').hide();
    	}else{
    		$('#angleUp2').hide();
        	$('#angleDown2').show();
    	}
    	flag2 = !flag2;
    }
    
    var flag3 = true;
    function changeText3(){
    	if(flag3){
    		$('#angleUp3').show();
        	$('#angleDown3').hide();
    	}else{
    		$('#angleUp3').hide();
        	$('#angleDown3').show();
    	}
    	flag3 = !flag3;
    }
    
    function typeChoose(){
		$('#xField').select2();
		$('#yField').select2();
		$('#dataField').select2();
		$('#dimensionField').select2();
    	if($('#reportType option:selected').val() == 0){
      		 $('#lineChart').hide();
      		 $('#pieChart').hide();
   	   	}
    	if($('#reportType option:selected').val() == 1){
      		 $('#lineChart').show();
      		 $('#pieChart').hide();
   	   	}
   	   	if($('#reportType option:selected').val() == 2){
   	   		 $('#pieChart').show();
   	   		 $('#lineChart').hide();
   	   	}
    }
    
    $(document).ready(function(){
    	typeChoose();
	    jQuery.ajax({
			type : "GET",
			url : base_url + 'reportParameter/getParameterVal.do',
			data : {
				'parameterId' : parameterId,
			},
			dataType : "json",
			success : function(data) {
				var idS = 0;
				var dateSingleNum = 0;
				var dateDoubleNum = 0;
				$.each(data.parameterList, function () {
					idS++;
		        	var typeParamMes = '<div class="form-group col-sm-12" style="padding-top:5px">';
		        	var typeParamId = '<input type="hidden" value="'+this.field+'" name="'+this.inputtype+'" id="'+this.field+'_fieldId'+[idS]+'"/>';
		        	var typeParam = '<div class="col-sm-12">';
		        	if(this.inputtype == 1){ //inputType==1为输入框类型
		        		if(this.optional == 2){
		        			typeParam += '<label>'+this.fieldname+''+":"+''+"&nbsp;&nbsp;"+'</label><input class="form-control" name="'+this.optional+'" type="text" style="width:300px" id="'+this.field+'_fieldVal'+[idS]+'"/><span style="color:red; font-size:16px; padding-left:5px">*</span>';
		        		} else {
		        			typeParam += '<label>'+this.fieldname+''+":"+''+"&nbsp;&nbsp;"+'</label><input class="form-control" name="'+this.optional+'" type="text" style="width:300px" id="'+this.field+'_fieldVal'+[idS]+'"/>';
		        		}
		        		divNode = typeParamMes +  typeParamId + typeParam + '</div>'+ '</div>';
			        	$("#moveOut").append(divNode);
		        	}else if(this.inputtype == 3){   //inputType==3为checkBox类型
		        		var checkboxName = this.field;
		        		typeParam += '<label>'+this.fieldname+''+":"+''+"&nbsp;&nbsp;"+'</label><input type="hidden" id="'+this.field+'_fieldVal'+[idS]+'"/><div id="checkBoxFont">';
		        		this.items.forEach(function(e,index){
		        			if(21 == index || 31 == index || 41 == index){
		        				typeParam += '<input type="checkbox" name="'+checkboxName+'" style="margin-left:110px" value="'+e.itemCode+'" />'+e.itemName+'';
		        			}else{
		        				typeParam += '<input type="checkbox" name="'+checkboxName+'" style="margin-left:10px" value="'+e.itemCode+'" />'+e.itemName+'';
		        			}
		        			if(0 != index && 0 == index%10){
		        				typeParam += '</br>';
		        			} 
	        		    })
	        		    typeParam += '</div>';
		        		divNode = typeParamMes +  typeParamId + typeParam + '</div>'+ '</div>';
			        	$("#moveOut").append(divNode);
	 		        }else if(this.inputtype == 5){  //inputType==5为时间节点
	 		        	dateSingleNum++;
	 		        	if(this.optional == 2 || this.optional == ""){
	 		        		typeParam += '<input type="hidden" name="'+this.optional+'" id="'+this.field+'_fieldVal'+[idS]+'"/>';
		 		        	typeParam += '<label>'+this.fieldname+''+":"+''+"&nbsp;&nbsp;"+'</label>';
			        		typeParam += '<span id="dateRangeSingle'+[dateSingleNum]+'">';
			        		typeParam += '<input id="dayTime'+[dateSingleNum]+'" type="text" class="form-control" value="'+today+'" style="width:300px; background-color: white; cursor: pointer"/><span style="color:red; font-size:16px; padding-left:5px">*</span>';
			        		typeParam += '</span>';
			        	} else {
			        		typeParam += '<input type="hidden" name="'+this.optional+'" id="'+this.field+'_fieldVal'+[idS]+'"/>';
		 		        	typeParam += '<label>'+this.fieldname+''+":"+''+"&nbsp;&nbsp;"+'</label>';
			        		typeParam += '<span id="dateRangeSingle'+[dateSingleNum]+'">';
			        		typeParam += '<input id="dayTime'+[dateSingleNum]+'" type="text" class="form-control" style="width:300px; background-color: white; cursor: pointer"/>';
			        		typeParam += '</span>';
			        	}
	 		        	
		        		divNode = typeParamMes +  typeParamId + typeParam + '</div>'+ '</div>';
			        	$("#moveOut").append(divNode);
			        	
		        	}else if(this.inputtype == 6){  //inputType==6为时间范围
		        		dateDoubleNum++;
		        		typeParam += '<input type="hidden" name="'+this.defaulttime+'" id="'+this.field+'_fieldVal'+[idS]+'"/>';
		        		typeParam += '<label>'+this.fieldname+''+":"+''+"&nbsp;&nbsp;"+'</label>';
		        		typeParam += '<span id="dateRange'+[dateDoubleNum]+'">';
		        		typeParam += '<input id="startTime'+[dateDoubleNum]+'" type="text" class="form-control" style="width:200px; background-color: white; cursor: pointer"/> 至';
		        		typeParam += '<input id="endTime'+[dateDoubleNum]+'" type="text" class="form-control" style="width:200px; background-color: white; cursor: pointer"/><span id="dateDoubleSpan'+[dateDoubleNum]+'" style="color:red; font-size:16px; padding-left:5px">*</span>';
		        		typeParam += '</span>';
		        		
		        		divNode = typeParamMes +  typeParamId + typeParam + '</div>'+ '</div>';
			        	$("#moveOut").append(divNode);
			        	if(this.defaulttime == 9){
		        			$("#startTime"+dateDoubleNum).val(""); 
			        		$("#endTime"+dateDoubleNum).val("");
			        		$("#dateDoubleSpan"+dateDoubleNum).css("display","none");
		        		} else if(this.defaulttime == 1){
		        			$("#startTime"+dateDoubleNum).val(lastDay); 
			        		$("#endTime"+dateDoubleNum).val(today);
		        		} else if (this.defaulttime == 2){
		        			$("#startTime"+dateDoubleNum).val(latelyDays3); 
			        		$("#endTime"+dateDoubleNum).val(lastDay);
		        		} else if (this.defaulttime == 3){
		        			$("#startTime"+dateDoubleNum).val(latelyDays7); 
			        		$("#endTime"+dateDoubleNum).val(lastDay);
		        		} else if (this.defaulttime == 4){
		        			$("#startTime"+dateDoubleNum).val(latelyDays30); 
			        		$("#endTime"+dateDoubleNum).val(lastDay);
		        		} else if (this.defaulttime == 5){
		        			$("#startTime"+dateDoubleNum).val(lastWeekStart); 
			        		$("#endTime"+dateDoubleNum).val(lastWeekEnd);
		        		} else if (this.defaulttime == 6){
		        			$("#startTime"+dateDoubleNum).val(lastMonthStart); 
			        		$("#endTime"+dateDoubleNum).val(lastMonthEnd);
		        		} else if (this.defaulttime == 7){
		        			$("#startTime"+dateDoubleNum).val(thisWeekDay); 
			        		$("#endTime"+dateDoubleNum).val(today);
		        		} else if (this.defaulttime == 8){
		        			$("#startTime"+dateDoubleNum).val(thisMonthDay); 
			        		$("#endTime"+dateDoubleNum).val(today);
		        		} else if (this.defaulttime == ""){
		        			$("#startTime"+dateDoubleNum).val(lastDay); 
			        		$("#endTime"+dateDoubleNum).val(today);
		        		}
		        	}
				})
				
				for(var i=1; i<dateSingleNum+1; i++){
					dateRangeSingles(i);
				}
				for(var j=1; j<dateDoubleNum+1; j++){
					dateRangeDoubles(j);
				}
				
			},
			error : function() {
			}
		})
		
		jQuery.ajax({
			type : "GET",
			url : base_url + 'reportParameter/getTypeList.do',
			data : {
				'parameterId' : parameterId,
			},
			dataType : "json",
			success : function(data) {
				var idS = 0;
				$.each(data.typeList, function () {
					findTypeVal(this.typeid);
				})
			},
			error : function() {
			}
		})
		
		//获取报表生成的所有字段
		jQuery.ajax({
			type : "GET",
			url : base_url + 'reportParameter/getAllDiensionVal.do',
			data : {
				'parameterId' : parameterId,
			},
			dataType : "json",
			success : function(data) {
                var html = "";
    			$.each(data.allDiensionList, function () {
       				html += "<option value='" + this.dimension + "/" + this.coltablename + "'>"
       						+ this.dimension + "/" + this.dimensionname + "</option>";
        			$("#xField").empty();
        			$("#xField").append(html);
        			$('#xField').select2();
        			$("#yField").empty();
        			$("#yField").append(html);
        			$('#yField').select2();
        			$("#dataField").empty();
        			$("#dataField").append(html);
        			$('#dataField').select2();
        			$("#dimensionField").empty();
        			$("#dimensionField").append(html);
        			$('#dimensionField').select2();
    			})
			},
			error : function() {
			}
		})
		
		//获取StorageDiensionVal
		if($('#reportType option:selected').val() == 1){
			jQuery.ajax({
	    		type : "GET",
	    		url : base_url + 'reportParameter/getStorageDiensionVal.do',
	    		data : {
					'parameterId' : parameterId,
					'typeParamId' : "1",
				},
	    		dataType : "json",
	    		success : function(data) {
	    			$.each(data.storageDiensionList, function () {
	    				var storageVal = this.paramvalue;
	    				$("select[name='xField'] option").each(function() {
							var newDiensionVal = $(this).text();
							if(storageVal == newDiensionVal){
								$(this).attr("selected",true);
							}
						});
	    			})
	    			$('#xField').select2();
	    		},
	    		error : function() {
	    		}
	    	})
	    	
			jQuery.ajax({
	    		type : "GET",
	    		url : base_url + 'reportParameter/getStorageDiensionVal.do',
	    		data : {
					'parameterId' : parameterId,
					'typeParamId' : "2",
				},
	    		dataType : "json",
	    		success : function(data) {
	    			$.each(data.storageDiensionList, function () {
	    				var storageVal = this.paramvalue;
	    				$("select[name='yField'] option").each(function() {
							var newDiensionVal = $(this).text();
							if(storageVal == newDiensionVal){
								$(this).attr("selected",true);
							}
						});
	    			})
	    			$('#yField').select2();
	    		},
	    		error : function() {
	    		}
	    	})
		}
		
	    if($('#reportType option:selected').val() == 2){
	    	jQuery.ajax({
	    		type : "GET",
	    		url : base_url + 'reportParameter/getStorageDiensionVal.do',
	    		data : {
					'parameterId' : parameterId,
					'typeParamId' : "3",
				},
	    		dataType : "json",
	    		success : function(data) {
	    			$.each(data.storageDiensionList, function () {
	    				var storageVal = this.paramvalue;
	    				$("select[name='dataField'] option").each(function() {
							var newDiensionVal = $(this).text();
							if(storageVal == newDiensionVal){
								$(this).attr("selected",true);
							}
						});
	    			})
	    			$('#dataField').select2();
	    		},
	    		error : function() {
	    		}
	    	})
	    	
			jQuery.ajax({
	    		type : "GET",
	    		url : base_url + 'reportParameter/getStorageDiensionVal.do',
	    		data : {
					'parameterId' : parameterId,
					'typeParamId' : "4",
				},
	    		dataType : "json",
	    		success : function(data) {
	    			$.each(data.storageDiensionList, function () {
	    				var storageVal = this.paramvalue;
	    				$("select[name='dimensionField'] option").each(function() {
							var newDiensionVal = $(this).text();
							if(storageVal == newDiensionVal){
								$(this).attr("selected",true);
							}
						});
	    			})
	    			$('#dimensionField').select2();
	    		},
	    		error : function() {
	    		}
	    	})
	    }
		
    });
    
    function findTypeVal(typeId) {
	    jQuery.ajax({
			type : "GET",
			url : base_url + 'reportParameter/getDimensionVal.do',
			data : {
				'typeId' : typeId,
			},
			dataType : "json",
			success : function(data) {
				var divN = '<div class="tab-pane">';
				var divParam = '<div style="padding-top:10px">';
				var labelParam = '<label>'+data.dimensionList[0].typename+''+":"+''+"&nbsp;&nbsp;"+'</label>';
				var boxParam = '<input type="checkbox" name="allSelect" id="allSelect'+data.dimensionList[0].typeid+'" onclick=\"allSelect(\''+data.dimensionList[0].typeid+'\');\"/>全选/取消全选';
				var checkBoxParam = "";
				$.each(data.dimensionList, function (index) {
					
					if(11 == index || 21 == index || 31 == index){
						checkBoxParam += '<input type="checkbox" id="'+this.typeid+'" name="chk_list" value="'+this.dimension+'" style="margin-left:110px" onclick=\"toggle(\''+this.dimension+'\',\''+this.typeid+'\');\">'+this.dimensionname+'';
					}else {
						checkBoxParam += '<input type="checkbox" id="'+this.typeid+'" name="chk_list" value="'+this.dimension+'" style="margin-left:20px" onclick=\"toggle(\''+this.dimension+'\',\''+this.typeid+'\');\">'+this.dimensionname+'';
					}
					
					if(0 != index && 0 == index%10){
						checkBoxParam += '</br>';
        			}
				})
				divNode = divN + divParam  + labelParam + boxParam +  checkBoxParam +'</div>' +'</div>';
	        	$("#tablesType").append(divNode);
				$('#tablesType input[type=checkbox]').prop("checked", true);
	        	if(firstFlag){
		        	$('#tablesType input[type=checkbox]').prop("disabled", true);
	        	}
	        	
			},
			error : function() {
			}  
		})
    }
    
    var colNum;
    function toggle(dimension, typeId){
    	findNom(dimension);
    	if(colNum != 9999){
    		var column = $('#resultC').DataTable().column( colNum );
            column.visible( ! column.visible() );
    	}else{
    		layer.alert("表格中不存在"+dimension+"列！", {icon: 5});
    		return;
    	}
    	
    	if($('input[id='+typeId+']:checked').length == $('input[id='+typeId+']').length){
			$("#allSelect"+typeId).prop("checked", true);
        }else if($('input[id='+typeId+']:checked').length < $('input[id='+typeId+']').length){
        	$("#allSelect"+typeId).prop("checked", false);
        }
    	
    }
    
    function findNom(dimension){
    	colNum = 9999;
    	var col = [];
    	var nom = 0
    	$.each(title, function () {
            var c = {};
            c.number = nom++;
            c.title = this+'';
            col.push(c);
        });
    	
    	$.each(col,function() {
            if(this.title == dimension){
            	colNum = this.number;
            }
        }); 
    }
    
    function allSelect(typeId) {
        if($('input[id='+typeId+']:checked').length == $('input[id='+typeId+']').length){
        	$('input[id='+typeId+']').click();
            $('input[id='+typeId+']').prop("checked", false);
        }else if($('input[id='+typeId+']:checked').length == 0){
        	$('input[id='+typeId+']').click();
        	$("#allSelect"+typeId).prop("checked", true);
            $('input[id='+typeId+']').prop("checked", true);
        }else{
        	$('input[id='+typeId+']:not(:checked)').click();
        	$('input[id='+typeId+']').prop("checked", true);
        }
    }
    
    $('#reportType').select2({
        minimumResultsForSearch: Infinity
    });
    
    var runhqlNum = 0;
    var parameterTaskId;
    var parameterInstanceId;
    function runhql(btn) {
    	//首先检验是否登录
    	var userid = getCookie('siteUserId');
        if(null == userid || '' == userid) {
        	layer.alert("登录超时!", {icon: 5});
        	return;
        }
    	var temdid = $("#conditions").find("input[id*='_fieldId']");
    	var temdvalues = $("#conditions").find("input[id*='_fieldVal']");
        var temdlength = temdid.length;
        var temdobj = new Array(temdlength);
        var dayNumber = 0;
        var timeNumber = 0;
        for(var i = 0;i < temdlength;i++) {
            var data = {};
            if($(temdid[i]).attr("name") == 5){
            	data.paramId = $(temdid[i]).val();
            	dayNumber++;
                data.paramVal = $("#dayTime"+dayNumber).val();
                data.inputType = $(temdid[i]).attr("name");
                if($(temdvalues[i]).attr("name") == 2 && data.paramVal == ""){
                	layer.alert("请填写完整查询条件！", {icon: 5});
                	$("#dayTime"+dayNumber).focus();
                    return;
                }
                temdobj[i] = data;
            }else if($(temdid[i]).attr("name") == 6){
            	data.paramId = $(temdid[i]).val();
            	timeNumber++;
                data.paramVal = $("#startTime"+timeNumber).val()+"~"+$("#endTime"+timeNumber).val();
                data.inputType = $(temdid[i]).attr("name");
                if($(temdvalues[i]).attr("name") != 9){
                	if($("#startTime"+timeNumber).val() == ""){
                		layer.alert("请填写完整查询条件！", {icon: 5});
                    	$("#startTime"+timeNumber).focus();
                        return;
                	}else if($("#endTime"+timeNumber).val() == ""){
                		layer.alert("请填写完整查询条件！", {icon: 5});
                    	$("#endTime"+timeNumber).focus();
                        return;
                	}
                }
                
                temdobj[i] = data;
            }else if($(temdid[i]).attr("name") == 3){
            	data.paramId = $(temdid[i]).val();
            	
            	var enumItems = "";
            	var checkedBoxes = $("input[name="+data.paramId+"]").filter(":checked");
            	
            	checkedBoxes.each(function(){ 
    				var itemValue = $(this).val();
    				enumItems += itemValue + ',';
    			});
            	data.paramVal = enumItems;
             	
                data.inputType = $(temdid[i]).attr("name");
                temdobj[i] = data;
            }else if($(temdid[i]).attr("name") == 1){
            	data.paramId = $(temdid[i]).val();
                data.paramVal = $(temdvalues[i]).val();
                data.inputType = $(temdid[i]).attr("name");
                if($(temdvalues[i]).attr("name") == 2 && data.paramVal == ""){
                	layer.alert("请填写完整查询条件！", {icon: 5});
                	$(temdvalues[i]).focus();
                    return;
                }
                temdobj[i] = data;
            }else{
            	data.paramId = $(temdid[i]).val();
                data.paramVal = $(temdvalues[i]).val();
                data.inputType = $(temdid[i]).attr("name");
                temdobj[i] = data;
            }
        }
        var paramList = JSON.stringify(temdobj);
        
        
//         if(null == paramList || "" == paramList){
//         	layer.alert("查询条件为空！", {icon: 5});
//             return;
//         }
        
        $(btn).text('执行中....');
        $(btn).attr("disabled", true);
        $('#downloadBtn').attr("disabled", true);
        $('#downloadBtn2').attr("disabled", true);
        $('#tablesType input[type=checkbox]').prop("disabled", true);
        $('#tablesType input[type=checkbox]').prop("checked", true);
        $('#tabn').empty();
        $('#t1').click();
        
        var isRun = false;
        jQuery.ajax({  
            url: base_url + 'reportParameter/runHive.do',
            type: 'post',
            dataType: 'JSON',
            async: true,
            abortOnRetry: true,
            timeout : 600000, //超时时间设置，单位毫秒
            data: {
                "parameterId" : parameterId,
                "paramList": paramList,
            },
            success: function (data) {
                isRun = data.isRun;
                if(!isRun) {
                    $(btn).text('');
                    $(btn).append('<i class="fa fa-search"></i>&nbsp;&nbsp;运行');
                    $(btn).attr("disabled", false);
                    layer.alert(data.errorMessage, {icon: 5});
                } else {
                	parameterInstanceId = data.instanceId;
                	parameterTaskId = data.id;
                	log("启动读日志任务");
                    readLog();//主动调用读日志方法
//                     if(null == logTask && isRun) {
//                         log("启动读日志任务");
//                         logTask = setInterval(readLog, 100);
//                     }
                }
            },
            error: function(data, status, e) {
                $(btn).text('');
                $(btn).append('<i class="fa fa-search"></i>&nbsp;&nbsp;运行');
                $(btn).attr("disabled", false);
//                 clearInterval(logTask);
//                 logTask = null;
                layer.alert('运行hql异常' + status + e, {icon: 5});
            }
        }); 
    }
    
    function readLog() {
        jQuery.ajax({
            url: base_url + 'reportParameter/readLog.do',
            type: 'post',
            dataType: 'JSON',
            async: true,
            abortOnRetry: true,
            data: {
                "instanceId": parameterInstanceId,
                "id": parameterTaskId,
            },
            success: function (data) {
                var format = 'yyyy-MM-dd HH:mm:ss.S';
                $.each(data.logList, function () {
                    var now = new Date();
                    var pre = now.Format(format);
                    var log = '<p>' + pre + '  ' + this + '</p>';
                    $('#tabn').append(log);
                    $('#tn').click();
                });
                $('#killBtn').attr("disabled", false);
                
                if(data.result == -1) {
                    console.info("执行失败，id不存在");
                    $('#runBtn').text('');
                    $('#runBtn').append('<i class="fa fa-search"></i>&nbsp;&nbsp;运行');
                    $('#runBtn').attr("disabled", false);
                    $('#killBtn').attr("disabled", true);
                	layer.alert('执行异常！', {icon: 5});
                }else if(data.result == 0) {
                	console.info("还在执行");
                	setTimeout(readLog(), 100);//执行中,停留100毫秒后继续询问
                }else if(data.result == 1) {
                	console.info("执行成功");
                	readTitle($('#tab2').html());
                    firstFlag = false;
                	$('#tablesType input[type=checkbox]').prop("checked", true);
                	$('#tablesType input[name=allSelect]').prop("disabled", false);
                	$('#killBtn').attr("disabled", true);
                }else if(data.result == 2) {
                	console.info("执行失败");
                	$('#runBtn').text('');
                    $('#runBtn').append('<i class="fa fa-search"></i>&nbsp;&nbsp;运行');
                    $('#runBtn').attr("disabled", false);
                    $('#killBtn').attr("disabled", true);
	                $('#downloadBtn').attr("disabled", true);
	                $('#downloadBtn2').attr("disabled", true);
                    layer.alert('运行hql异常:详见日志', {icon: 5});
                }
            }
        });
    }
    
    function readTitle(tab2Content) {
    	jQuery.ajax({
            url: base_url + 'reportParameter/readTitle.do',
            type: 'post',
            dataType: 'JSON',
            async: true,
            abortOnRetry: true,
            data: {
            	 "id": parameterTaskId,
            },
            success: function (data) {
                if(null != data.title && '' != data.title) {
                	$('#runBtn').text('');
                    $('#runBtn').append('<i class="fa fa-search"></i>&nbsp;&nbsp;运行');
                    $('#runBtn').attr("disabled", false);
                    $('#killBtn').attr("disabled", true);
                    $('#downloadBtn').text('');
                    $('#downloadBtn').append('<i class="fa fa-download"></i>&nbsp;&nbsp;导出');
                    $('#downloadBtn').attr("disabled", false);
                    $('#downloadBtn2').text('');
                    $('#downloadBtn2').append('<i class="fa fa-download"></i>&nbsp;&nbsp;导出');
                    $('#downloadBtn2').attr("disabled", false);
                    initTitle(data.title, tab2Content);
					title = data.title;
             		$('#tablesType input[name=chk_list]').each(function(){
         				var checkBoxVal = $(this);
         				var col = [];
         		    	$.each(title, function () {
         		            var c = {};
         		            c.title = this+'';
         		            col.push(c);
         		        });
         		    	
         		    	$.each(col,function() {
         		            if(checkBoxVal.val() == this.title){
         		            	checkBoxVal.prop("disabled", false);
         		            }
         		        }); 
             			
                 	});
                }
            }
        });
    }

    function initTitle(title, tab2Content) {
    	$('#t1').click();
        var col = [];
        $.each(title, function () {
            var c = {};
            c.sTitle = this + '';
            c.sName = this + '';
            c.mData = this + '';
            c.sClass = 'center';
            
            allDiensionListJson.forEach(function(e){  
 				if(c.sTitle == e.dimension){
//             	c.sTitle = c.sTitle + '/' + e.dimensionname;
            	c.sTitle = e.dimensionname;
            	}
        	})
            
            col.push(c);
        });
        $('#tableResult').html("");
        $("#tableResult").append("<table class=\"table table-striped table-bordered table-hover data-table\" id=\"resultC\" style=\"padding-top:5px\"></table>");
        $('#tabs').find('#tabn').niceScroll();
        $('#tabs').find('#tabn').html(tab2Content);
        $('#tabs').find('table').dataTable({
            "scrollY": true,
            "scrollX": true,
            "destroy": true,
            "aoColumns":col,
            "bAutoWidth": false,//自动列宽
            "bSort": false,//排序功能
            "bProcessing": true, //加载数据时显示正在加载信息
            "bServerSide": true, //指定从服务器端获取数据
            "bFilter": false, //不使用过滤功能
            "bLengthChange": true, //用户可改变每页显示数量
            "iDisplayLength" :10, //每页显示10条数据
            "sAjaxSource": base_url + 'reportParameter/queryResult.do',
            "fnServerData": retrieveTableTData, //获取数据的处理函数
            "headerClickable": false,
            "sortable": false,
            "sPaginationType": "full_numbers", //翻页界面类型
            language: {
                "sProcessing": "处理中...",
                "sLengthMenu": "显示 _MENU_ 项结果",
                "sZeroRecords": "没有匹配结果",
                "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                "sInfoPostFix": "",
                "sSearch": "搜索:",
                "sUrl": "",
                "sEmptyTable": "表中数据为空",
                "sLoadingRecords": "载入中...",
                "sInfoThousands": ",",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "上页",
                    "sNext": "下页",
                    "sLast": "末页"
                },
                "oAria": {
                    "sSortAscending": ": 以升序排列此列",
                    "sSortDescending": ": 以降序排列此列"
                }
            }
        });
        
        if($('#reportType option:selected').val() != 0){
        	var html = $("#collapseOne").clone(true);
            
            ++runhqlNum;
        	if(runhqlNum > 1){
        		addTables(runhqlNum);
        	}
        	$("#queryCondition"+runhqlNum).append(html);
            $("#queryCondition"+runhqlNum).attr('style', 'background-color:#f5f5f5;');
            $("div[id^='queryCondition']").find("input").attr("disabled", true);
        	reportGenerate();
        }
        
    }
    
    function retrieveTableTData(sSource, aoData, fnCallback) {
        var P_size = aoData[4]['value'];
        var P_start = aoData[3]['value'];
        var P_ = P_start / P_size + 1;
        jQuery.ajax({
            url: sSource,
            type: 'post',
            dataType: 'JSON',
            async: true,
            abortOnRetry: true,
            data: {
                "page": P_,
                "pageSize": P_size,
                "sEcho": aoData[0]['value'],
                "id": parameterTaskId,
            },
            success: function (data) {
                fnCallback(data);
            }
        });
    }
    
    function addTables(tableNum){
    	var chartsGenerate = '<div id="iconDisplay'+tableNum+'" class="collapse in"><i class="fa fa-remove pull-right accordion-toggle" data-toggle="collapse" href="#iconDisplay'+tableNum+'"></i>'
    	chartsGenerate += '<div id="queryCondition'+tableNum+'"></div><div id="echarts'+tableNum+'" style="width:100%;height:700px;"></div>'
    	chartsGenerate += '</div>';
    	$("#tab3").append(chartsGenerate);
    }
    
    function reportGenerate(){
    	var chart=document.getElementById($('#tabs').find('#tab3').find('#echarts'+runhqlNum).attr('id'));
    	chart.style.width=(window.innerWidth-50)+'px';
    	myChart=echarts.init(chart);
        var xField;
        var yField;
        var dataField;
		var dimensionField;
        if($('#reportType option:selected').val() == 1){
        	xField = $('#xField').val();
        	var yf = $('#yField').val();
        	if((null == xField || '' == xField) || (null == yf || '' == yf)){
        		return;
        	}
        	yField = $('#yField').val().toString();
  	   	}else if($('#reportType option:selected').val() == 2){
  	   		dataField = $('#dataField').val();
  	   		dimensionField = $('#dimensionField').val();
	  	   	if((null == dataField || '' == dataField) || (null == dimensionField || '' == dimensionField)){
	    		return;
	    	}
  	   	}

        $.ajax({
            url: base_url + 'reportParameter/runReport.do',
            type: 'post',
            dataType: 'JSON',
            async: false,
            abortOnRetry: true,
            timeout : 600000, //超时时间设置，单位毫秒
            data: {
                "xField": xField,
                "orderNum": $('#order').val(),
                "yField": yField,
                "dataField": dataField,
                "dimensionField":dimensionField,
                "reportName": $('#reportName').val(),
                "reportType": $('#reportType').val(),
                "id": parameterTaskId,
            },
            success: function (data) {
                log("图表option:");
                if( data.resultCode == 0) {
                	myChart.setOption(eval('('+data.option+')'), true, false);
                } else {
                	layer.alert(data.errorMessage, {icon: 5});
                	myChart.setOption(eval('('+data.option+')'), true, false);
				}
                
            },
            error: function (e) {

            }
        });
    }
    
    function dateRangeSingles(dateSingleNum){
    	dateRangeSingle = $('#dateRangeSingle'+dateSingleNum).dateRangePicker({
            autoClose: true,
            format: 'YYYY-MM-DD',
            separator: ' 至 ',
            language: 'auto',
            startOfWeek: 'sunday',// or monday
            getValue: function()
            {
                    return '';
            },
            setValue: function(s,s1,s2)
            {
                $('#dayTime'+dateSingleNum).val(s1);
            },
            startDate: false,
            endDate: false,
            time: {
                enabled: false
            },
            minDays: 0,
            maxDays: 0,
            showShortcuts: false,
            shortcuts: {
                //'prev-days': [1,3,5,7],
                //'next-days': [3,5,7],
                //'prev' : ['week','month','year'],
                //'next' : ['week','month','year']
            },
            customShortcuts: [],
            inline: false,
            container: 'body',
            alwaysOpen: false,
            singleDate: true,
            lookBehind: false,
            batchMode: false,
            duration: 200,
            stickyMonths: false,
            dayDivAttrs: [],
            dayTdAttrs: [],
            applyBtnClass: '',
            singleMonth: true,
            hoveringTooltip: function (days, startTime, hoveringTime) {
                return days > 1 ? days + ' ' + lang('days') : '';
            },
            showTopbar: true,
            swapTime: false,
            selectForward: false,
            selectBackward: false,
            showWeekNumbers: false,
            getWeekNumber: function (date) //date will be the first day of a week
            {
                return moment(date).format('w');
            }
        });
    }
    
    
    function dateRangeDoubles(dateDoubleNum){
    	dateRange = $("#dateRange"+dateDoubleNum).dateRangePicker({
            autoClose: true,
            format: 'YYYY-MM-DD',
            separator: ' 至 ',
            language: 'auto',
            startOfWeek: 'sunday',// or monday
            getValue: function()
            {
                if ($('#startTime'+dateDoubleNum).val() && $('#endTime'+dateDoubleNum).val() )
                    return $('#startTime'+dateDoubleNum).val() + ' 至 ' + $('#endTime'+dateDoubleNum).val();
                else
                    return '';
            },
            setValue: function(s,s1,s2)
            {
                $('#startTime'+dateDoubleNum).val(s1);
                $('#endTime'+dateDoubleNum).val(s2);
            },
            startDate: false,
            endDate: false,
            time: {
                enabled: false
            },
            minDays: 0,
            maxDays: 365,
            showShortcuts: true,
            shortcuts: {
                'prev-days': [1,3,5,7,30],
                //'next-days': [3,5,7],
                'prev' : ['week','month'],
                //'next' : ['week','month','year']
            },
            customShortcuts: [],
            inline: false,
            container: 'body',
            alwaysOpen: false,
            singleDate: false,
            lookBehind: false,
            batchMode: false,
            duration: 200,
            stickyMonths: false,
            dayDivAttrs: [],
            dayTdAttrs: [],
            applyBtnClass: '',
            singleMonth: 'auto',
            hoveringTooltip: function (days, startTime, hoveringTime) {
                return days > 1 ? days + ' ' + lang('days') : '';
            },
            showTopbar: true,
            swapTime: false,
            selectForward: false,
            selectBackward: false,
            showWeekNumbers: false,
            getWeekNumber: function (date) //date will be the first day of a week
            {
                return moment(date).format('w');
            }
       });
    }
    
//     function downloadData() {
//     	$('#downloadBtn').text('下载中....');
//     	$('#downloadBtn').attr("disabled", true);
//         window.location.target="_blank";
//         window.location.href = base_url+"reportParameter/downloadFile.do?id=" + parameterTaskId + '&parameterId=' + parameterId;
//     }
    
    function downloadDataFromBdqe() {
    	$('#downloadBtn2').text('下载中....');
    	$('#downloadBtn2').attr("disabled", true);
		var titleObj;
        jQuery.ajax({
               url: base_url + 'reportParameter/getTitle.do',
               type: 'post',
               dataType: 'JSON',
               async: false,
               abortOnRetry: true,
               data: {
                   "parameterId" : parameterId,
               },
               success: function (data) {
            	   titleObj = data.titleList;
               }
        });
        var titleJson = JSON.stringify(titleObj);
	    var queryId = parameterTaskId;
// 	    downloadFromBdqeWithRenameTitle(queryId, titleJson);
	    downloadFromBdqeReplaceTitle(queryId, titleJson);
     }
    
    
    function killTask() {
        jQuery.ajax({
            url: base_url + 'reportParameter/killTask.do',
            type: 'post',
            dataType: 'JSON',
            async: true,
            abortOnRetry: true,
            data: {
            	"id": parameterTaskId,
            },
            success: function (data) {
                if (data.result == 0) {
                    layer.alert('终止成功!', {icon: 6});
                } else {
                    layer.alert('终止失败!', {icon: 5});
                }
            },
            error: function () {
                layer.alert('请求失败!', {icon: 5});
            }
        });
    }
    /* ]]> */
</script>
</body>
</html>