<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bobo.keyan.hdb.mapper.AuditeMapper" >
  <resultMap id="BaseResultMap" type="com.bobo.keyan.hdb.model.Audite" >
    <id column="a_id" property="aId" jdbcType="INTEGER" />
    <result column="a_userid" property="aUserid" jdbcType="INTEGER" />
    <result column="a_amount" property="aAmount" jdbcType="DECIMAL" />
    <result column="a_dateline" property="aDateline" jdbcType="INTEGER" />
    <result column="a_interest" property="aInterest" jdbcType="DECIMAL" />
    <result column="a_applytime" property="aApplytime" jdbcType="TIMESTAMP" />
    <result column="a_state" property="aState" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    a_id, a_userid, a_amount, a_dateline, a_interest, a_applytime, a_state
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.bobo.keyan.hdb.model.AuditeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from audite
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from audite
    where a_id = #{aId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from audite
    where a_id = #{aId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.bobo.keyan.hdb.model.AuditeExample" >
    delete from audite
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bobo.keyan.hdb.model.Audite" >
    insert into audite (a_id, a_userid, a_amount, 
      a_dateline, a_interest, a_applytime, 
      a_state)
    values (#{aId,jdbcType=INTEGER}, #{aUserid,jdbcType=INTEGER}, #{aAmount,jdbcType=DECIMAL}, 
      #{aDateline,jdbcType=INTEGER}, #{aInterest,jdbcType=DECIMAL}, #{aApplytime,jdbcType=TIMESTAMP}, 
      #{aState,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bobo.keyan.hdb.model.Audite" >
    insert into audite
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="aId != null" >
        a_id,
      </if>
      <if test="aUserid != null" >
        a_userid,
      </if>
      <if test="aAmount != null" >
        a_amount,
      </if>
      <if test="aDateline != null" >
        a_dateline,
      </if>
      <if test="aInterest != null" >
        a_interest,
      </if>
      <if test="aApplytime != null" >
        a_applytime,
      </if>
      <if test="aState != null" >
        a_state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="aId != null" >
        #{aId,jdbcType=INTEGER},
      </if>
      <if test="aUserid != null" >
        #{aUserid,jdbcType=INTEGER},
      </if>
      <if test="aAmount != null" >
        #{aAmount,jdbcType=DECIMAL},
      </if>
      <if test="aDateline != null" >
        #{aDateline,jdbcType=INTEGER},
      </if>
      <if test="aInterest != null" >
        #{aInterest,jdbcType=DECIMAL},
      </if>
      <if test="aApplytime != null" >
        #{aApplytime,jdbcType=TIMESTAMP},
      </if>
      <if test="aState != null" >
        #{aState,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bobo.keyan.hdb.model.AuditeExample" resultType="java.lang.Integer" >
    select count(*) from audite
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update audite
    <set >
      <if test="record.aId != null" >
        a_id = #{record.aId,jdbcType=INTEGER},
      </if>
      <if test="record.aUserid != null" >
        a_userid = #{record.aUserid,jdbcType=INTEGER},
      </if>
      <if test="record.aAmount != null" >
        a_amount = #{record.aAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.aDateline != null" >
        a_dateline = #{record.aDateline,jdbcType=INTEGER},
      </if>
      <if test="record.aInterest != null" >
        a_interest = #{record.aInterest,jdbcType=DECIMAL},
      </if>
      <if test="record.aApplytime != null" >
        a_applytime = #{record.aApplytime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.aState != null" >
        a_state = #{record.aState,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update audite
    set a_id = #{record.aId,jdbcType=INTEGER},
      a_userid = #{record.aUserid,jdbcType=INTEGER},
      a_amount = #{record.aAmount,jdbcType=DECIMAL},
      a_dateline = #{record.aDateline,jdbcType=INTEGER},
      a_interest = #{record.aInterest,jdbcType=DECIMAL},
      a_applytime = #{record.aApplytime,jdbcType=TIMESTAMP},
      a_state = #{record.aState,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bobo.keyan.hdb.model.Audite" >
    update audite
    <set >
      <if test="aUserid != null" >
        a_userid = #{aUserid,jdbcType=INTEGER},
      </if>
      <if test="aAmount != null" >
        a_amount = #{aAmount,jdbcType=DECIMAL},
      </if>
      <if test="aDateline != null" >
        a_dateline = #{aDateline,jdbcType=INTEGER},
      </if>
      <if test="aInterest != null" >
        a_interest = #{aInterest,jdbcType=DECIMAL},
      </if>
      <if test="aApplytime != null" >
        a_applytime = #{aApplytime,jdbcType=TIMESTAMP},
      </if>
      <if test="aState != null" >
        a_state = #{aState,jdbcType=CHAR},
      </if>
    </set>
    where a_id = #{aId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bobo.keyan.hdb.model.Audite" >
    update audite
    set a_userid = #{aUserid,jdbcType=INTEGER},
      a_amount = #{aAmount,jdbcType=DECIMAL},
      a_dateline = #{aDateline,jdbcType=INTEGER},
      a_interest = #{aInterest,jdbcType=DECIMAL},
      a_applytime = #{aApplytime,jdbcType=TIMESTAMP},
      a_state = #{aState,jdbcType=CHAR}
    where a_id = #{aId,jdbcType=INTEGER}
  </update>
</mapper>